.body {
    margin: 20px;
    margin-top: 30px !important;
    font-size: 17px;
    color: white;
}

.card-search {
    text-align: left;
}

.card-carousel {
    border-radius: 2px;
    display: inline-block;
    margin: 0.6rem;
    position: relative;
}

.card-carousel:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.role {
    width: 80px;
    border-radius:150px;
    margin-bottom: 10px;
}

.notFind {
    color: white !important;
}
